In [26]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [38]:
df = pd.read_csv("SPX_cleaned.csv")
df.head()

,Date,Open,High,Low,Close,GAP up/down,Range,O-C,C-C,LOD>P.Close,P.Close>High
0,12/31/15,"2,060.59","2,062.54","2,043.62","2,043.94",#VALUE!,18.92,-16.65,NaN,NaN,NaN
1,1/2/15,"2,058.90","2,072.36","2,046.04","2,046.04",14.96,26.32,-12.86,2.10,2.10,-28.42
2,1/5/15,"2,054.44","2,054.44","2,017.34","2,020.58",8.4,37.10,-33.86,-25.46,-28.70,-8.40
3,1/6/15,"2,022.15","2,030.25","1,992.44","2,002.61",1.57,37.81,-19.54,-17.97,-28.14,-9.67
4,1/7/15,"2,005.55","2,029.61","2,005.55","2,025.90",2.94,24.06,20.35,23.29,2.94,-27.00

In [41]:
df.dropna(inplace = True)
df.shape

(2015, 11)

In [42]:
df.isna().sum()

Date            0
Open            0
High            0
Low             0
Close           0
GAP up/down     0
Range           0
O-C             0
C-C             0
LOD>P.Close     0
P.Close>High    0
dtype: int64

In [43]:
df.describe()

             Range          O-C          C-C  LOD>P.Close  P.Close>High
count  2015.000000  2015.000000  2015.000000  2015.000000   2015.000000
mean     34.696635     0.177166     0.951132   -17.620471    -17.081370
std      28.990003    29.024313    37.023570    32.174558     27.387018
min       3.790000  -150.220000  -324.890000  -330.080000   -230.690000
25%      14.630000    -9.745000   -10.955000   -24.905000    -25.910000
50%      25.350000     1.060000     1.570000    -9.580000    -11.410000
75%      44.840000    12.715000    16.555000    -0.080000     -2.800000
max     218.960000   149.540000   230.380000   111.320000    148.040000

In [45]:
df.dtypes

Date             object
Open             object
High             object
Low              object
Close            object
GAP up/down      object
Range           float64
O-C             float64
C-C             float64
LOD>P.Close     float64
P.Close>High    float64
dtype: object

In [46]:
for i in df.columns:
    df[i] = map(float(), df[i])
    
df.dtypes

TypeError: object of type 'map' has no len()